
body{
    height: 200vh;
}
.imgBg{
    border:2px solid blue;
    background:url(bg.jpg) ;
    overflow: hidden;    
    width: 200px;
    height: 200px;
    margin-left: 20px;
}
.myHead{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.myP:nth-of-type(odd){
    color:red;
    background-color: yellow;
}