body{
    height: 200vh;
}
.myp{
    color:#aaa;
    padding:60px;
}

div.bg{
    border:2px solid red;
    background:url(bg.jpg) ;
    overflow: hidden;    
    width: 200px;
    height: 200px;
}
.iconfont.iconduigou{
    font-size: 40px;
    color:rebeccapurple;
}