.header{
    margin: 0;padding: 0;
    background-color: rgb(58, 58, 58);
    color:rgb(255, 255, 255);
    height: 50px;
    position: fixed;
    top:0;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.title{
    padding-right: 20px;
}